<html lang="en">

<head>
    <style>
        body {
            font-family: 'Lato';
        }
    </style>
</head>

<body>
    <hr>
    <table>
        <tbody>
            <tr>
                <td>
                    <table style="margin-bottom: 15px;">
                        <tbody>
                            <tr>
                                <td style="font-weight: bold; line-height: 1.9; color:#f15522">
                                    {{firstname}} {{lastname}}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: 900; line-height: 1;">
                                    {{jobtitle}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="" alt=""
                                        border="0">
                                </td>
                                <td width="20"></td>
                                <td class="separator" width="2" bgcolor="#EAEAEA"></td>
                                <td width="20"></td>
                                <td valign="middle" style="display: grid; align-items:flex-start;">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td><a href={{phone_url}} dir="ltr"
                                                        style="text-decoration: none; color: #AEA9AF; font-size: 13px;"
                                                        target="_blank">
                                                        {{phone}}</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td><a href={{email_url}} dir="ltr"
                                                        style="text-decoration: none; color: #AEA9AF; font-size: 13px;"
                                                        target="_blank">{{email}}</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>Nos services sur&nbsp;<a href="https://rtask.thinkr.fr/fr/"
                                                        style="color:#f15522" target="_blank">rtask.thinkr.fr/fr/</a>
                                                    <br>
                                                    Nos formations sur&nbsp;<a href="https://thinkr.fr/"
                                                        style="color:#f15522" target="_blank">thinkr.fr</a><br>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="margin-top:10px">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    {{github}}
                                                    {{twitter}}
                                                    {{linkedin}}
                                                    {{youtube}}
                                                    {{twitch}}
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>