@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap')

.navbar
  padding-top: 2.7em
  padding-bottom: 1.7em

  .navbar-brand
    font-size: 1.5em
    font-family: 'Sofia', cursive
    pointer-events: none
    color: $secondary

.container
  max-width: 1200px

.card
  .card-header
    background-color: #ededee

.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active:focus
  margin-bottom: 3em
  color: #ffffff
  font-weight: lighter
  padding: 8px 11px
  border-radius: 6px

.btn-default i
  margin-right: 20px

.accordion
  h2
    margin-top: 0

.buttons
  display: flex
  grid-gap: 7px

.buttons-default
  width: 11px
  height: 11px
  border-radius: 50%
  display: inline-block

.close
  @extend .buttons-default
  background: #ff5f57
  border: 1px solid #ff5f57

.minimize
  @extend .buttons-default
  background: #febc2e
  border: 1px solid #febc2e

.zoom
  @extend .buttons-default
  background: #27c840
  border: 1px solid #27c840
