body {
  padding: 3.5em 4.5em 0 4.5em;
}

h1 {
  margin-bottom: 1.75em;
}

label {
  font-weight: bold;
}

.header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #cccccc;
  height: 40px;
  display: flex;
  align-items: center;
}

.header p {
  font-size: 15px;
  margin-left: 15px !important;
  margin: 0;
}

.signature {
  padding: 30px;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active:focus {
  margin-top: 5em;
  background-color: rgb(225, 98, 89);
  color: #ecf0f4;
  font-weight: lighter;
  font-size: 15px;
  padding: 8px 11px;
  border-radius: 6px;
  border: 1px solid #BB001B;
}

.btn-default:hover {
  font-weight: 900;
  border: 1px solid #BB001B;
  box-shadow: 0 0 5px 0 #EA4335;
}

.btn-default i {
  margin-right: 20px;
}

.accordion h2 {
  margin-top: 0;
}

.form {
  padding: 40px 50px 40px 0;
}

.accordion-body {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 4% 5%;
}